#chatbar {
    position: fixed;
    bottom: 5px;
    padding: 5px;
    background-color: gray;
    width: 95%;
}

#history {
    height: 500px;
    width: 90%;
    background-color: gray;
    overflow-y: scroll;
}

::placeholder {
    color: black;
    opacity: 1;
}